
#geral2{
	width: 800px;
	margin: 3em auto;
	
}	
	
#topo{
	width: 800px;
	height: 120px;
	background: #ccc;
	background: url(/ProjetoFinWeb/img/topo.jpg);
	}
	
#menu-superior{
	width: 800px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 10px;
	background: url(/ProjetoFinWeb/img/menu.jpg);
}

#content{
	width: 800px;
	height: 450px;
	background: #ffffff;
	}	
	
#rodape{
    width: 800px;
	height: 30px;
	background: url(/ProjetoFinWeb/img/rodape.jpg);
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:10px;
}

#welcome{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:12px;
	font-weight: bold;
	padding-top: 80px;
	padding-right: 10px;
	text-align: right;
	}

#sair{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:12px;
	font-weight: bold;
	}

#welcome1{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:12px;
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
	}
	
.msg{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: red;	
	text-align: center;
}

.direita{
	text-align: right;
}

.esquerda{
	text-align: left;
}

.centro{
	text-align: center;
}

ul.menubar{
  margin: 0px;
  padding: 5px;
  font-size: 100%;
}
 
ul.menubar .submenu{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display:inline;
}
 
ul.menubar ul.menu{
  display: none;
  position: absolute;
  margin: 0px 0px 0px 170px;
}
 
ul.menubar a{
  padding: 5px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px;
}
 
ul.menu, ul.menu ul{
  margin: 0;
  padding: 0;
}
 
ul.menu li{
  position: relative;
  list-style: none;
  border: 0px;
}
 
ul.menu li a{
  display: block;
  text-decoration: none;
  border-bottom: 0px;
  color: #ffffff;
  padding: 5px 10px 5px 5px;
  background: #17524c;
}
 
ul.menu li sup{
  font-weight:bold;
  font-size:7px;

}
 
/* Fix IE. Hide from IE Mac \*/
* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }
/* End */
 
ul.menu ul{
  position: absolute;
  display: none;
  left: 100px; /* Set 1px less than menu width */
  top: 0px;
}
 
ul.menu li.submenu ul { display: none; } /* Hide sub-menus initially */
 
ul.menu li.submenu { background: transparent url(/ProjetoFinWeb/img/arrow.gif) right center no-repeat; }
 
ul.menu li a:hover { color: #7cefb41; }	


FIELDSET {
	BORDER-BOTTOM: #6f6f6f 1px solid; 
	BORDER-LEFT: #6f6f6f 1px solid; 
	BACKGROUND-COLOR: #f5f5f5; 
	FONT: 13px "Verdana", sans-serif; 
	BORDER-TOP: #6f6f6f 1px solid; 
	BORDER-RIGHT: #6f6f6f 1px solid;
}

LEGEND {
	BORDER-BOTTOM: #781351 1px solid; 
	BORDER-LEFT: #781351 1px solid; 
	PADDING-BOTTOM: 2px; 
	PADDING-LEFT: 6px; 
	PADDING-RIGHT: 6px; 
	BACKGROUND: #6f6f6f; 
	COLOR: #fff; 
	BORDER-TOP: #781351 1px solid; 
	BORDER-RIGHT: #781351 1px solid; 
	PADDING-TOP: 2px;
}

LABEL {
	DISPLAY: block; 
	FLOAT: left; 
	MARGIN-TOP: 10px; 
}

LABEL.error {
	MARGIN: 0px 0.5em 0px 0px; FLOAT: none; COLOR: red; FONT-FAMILY: Verdana; FONT-SIZE: 10px; VERTICAL-ALIGN: top
}

INPUT {
	BORDER-BOTTOM: #ccc 1px solid; 
	BORDER-LEFT: #ccc 1px solid; 
	BACKGROUND: #fff; 
	BORDER-TOP: #ccc 1px solid; 
	BORDER-RIGHT: #ccc 1px solid;
}

INPUT:focus {
	BORDER-BOTTOM: #606060 1px solid; 
	BORDER-LEFT: #606060 1px solid; 
	BACKGROUND: #fff; 
	BORDER-TOP: #606060 1px solid; 
	BORDER-RIGHT: #606060 1px solid;
}

table.normal {
	border: 0px;
	width: 100%;
    margin: 0px 0 0px 0 !important;	
}

table.geral {
	border: 1px solid #666;
	width: 100%;
	margin: 20px 1 20px 1 !important;
}

th.geral,td.geral {
	border: 1px solid #666;
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

thead tr.geral {
	
	background-color: #4682B4;
}


form.normal {
	border: 0px;
}

.botao {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	PADDING-BOTTOM: 4px; 
	PADDING-TOP: 4px; 
	FONT-FAMILY: verdana, arial, sans-serif; 
	BACKGROUND-COLOR: #eee; 
	TEXT-DECORATION: none
}
.botao:link {
	BORDER-RIGHT: #666666 2px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #666666 2px solid;
}
.botao:visited {
	BORDER-RIGHT: #666666 2px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #666666 2px solid;
}
.botao:hover {
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #666666 2px solid; 
	BORDER-LEFT: #666666 2px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
}

.botao1 {
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 8pt; 
	PADDING-BOTTOM: 4px; 
	PADDING-TOP: 4px; 
	FONT-FAMILY: verdana, arial, sans-serif; 
	TEXT-DECORATION: none
}

.botao1:hover {
	COLOR: #8dbdd8; 
}

.divresumoperiodo{
	width:310px;
	float:right;
	text-align: center;	
    margin:0px;
    FONT-WEIGHT: bold;
}

.divresumogeral{
	width:310px;
	float:left;
	text-align: center;	
    margin:0px;
    FONT-WEIGHT: bold;
}

.divresumogeral1{
	width:250px;
	float:left;
	text-align: center;	
    margin:0px;
    FONT-WEIGHT: bold;
    height: 300px;
}

.divresumogeral2{
	width:455px;
	float:right;
	FONT-SIZE: 8pt;
}

.divgeral1{
    margin:0px 2px 5px 2px;
	height: 110px; 
	overflow: auto; 
	clear: right; 
	position: relative;
	FONT-SIZE: 7pt;            
}

.divgeral2{
	height: 270px; 
	overflow: auto; 
	clear: right; 
	position: relative;  
	FONT-SIZE: 7pt;          
}

.divgeral3{
	height: 270px; 
	overflow: auto; 
	clear: right; 
	position: relative;
	FONT-SIZE: 8pt;     
	FONT-FAMILY: verdana, arial, sans-serif;        
}

.divgeral4{
	width:700px;
	height: 270px;
	margin:0px 5px 5px 5px; 
	FONT-SIZE: 8pt;     
	FONT-FAMILY: verdana, arial, sans-serif;        
}

.divrelatorio{
	width:700px;
	height: 400px;
	margin:0px 5px 5px 5px; 
	FONT-SIZE: 8pt;     
	FONT-FAMILY: verdana, arial, sans-serif;        
}

.divesquerda{
	width:90px;
	float:left;
	text-align: right;	
    margin:5px 5px 5px 5px;
    FONT-WEIGHT: bold;
}

.divdireita{
	width:95px;
	float:right;	
	text-align: right;
    margin:5px 5px 5px 5px;    
}

.divdireitaGeral{
	width:450px;
	float:right;	
	margin:5px 5px 5px 5px; 
}

.divesquerdaGeral{
	width:200px;
	float:left;	
	margin:5px 5px 5px 5px; 
}

.divlinha{
	width:95px;
	float:right;	
	text-align: right;
    margin:5px 5px 5px 5px;
	border:1px solid black;
}

.divgeral{
    margin:0px 5px 5px 5px;        
}

.fontemenor{
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt;
}

.positivo{
	COLOR: blue;
	FONT-WEIGHT: bold;
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 10pt;
}

.negativo{
	COLOR: red;
	FONT-WEIGHT: bold;
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 10pt;
}

.positivoGeral{
	COLOR: blue;
	FONT-WEIGHT: bold;
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt;
}

.negativoGeral{
	COLOR: red;
	FONT-WEIGHT: bold;
	FONT-FAMILY: verdana, arial, sans-serif; 
	FONT-SIZE: 8pt;
}

.conteudotab{
	height: 380px;
}	

.conteudoSubTab{
	height: 300px;
}	

#texto-inicial{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight:bold;
	font-size: 24px;
	color: #05453e;
	}
	
#texto-inicial2{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #000;
	font-size: 12px;
	}
	
#texto-inicial3{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12px;
	}
	
#texto-inicial4{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	color: #05453e;
	margin-left: 15px;
	text-decoration: underline;
	}
	
#texto-inicial5{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12px;
	font-weight:bold;
	margin-left: 15px;
	}
		
#container1{
	width: 396px;
	height: 265px;
	background-color: #f5f5f5;
	BORDER-BOTTOM: #6f6f6f 1px solid; 
	BORDER-LEFT: #6f6f6f 1px solid;
	BORDER-TOP: #6f6f6f 1px solid; 
	BORDER-RIGHT: #6f6f6f 1px solid; 
	}

.email {	
	color: blue;
}

.email:hover {	
	color: blue;
}

.link {
	color: blue;
}

.link:hover {	
	color: blue;
}
