<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>ProjetoFinWeb</display-name>
 <servlet>
  <display-name>AutenticarLogin</display-name>
  <servlet-name>AutenticarLogin</servlet-name>
  <servlet-class>br.com.etectupa.servlet.AutenticarLogin</servlet-class>
 </servlet>
 <servlet>
  <display-name>RecuperarSenha</display-name>
  <servlet-name>RecuperarSenha</servlet-name>
  <servlet-class>br.com.etectupa.servlet.RecuperarSenha</servlet-class>
 </servlet> 
 <servlet>
  <display-name>AlterarSenhaUsuario</display-name>
  <servlet-name>AlterarSenhaUsuario</servlet-name>
  <servlet-class>br.com.etectupa.servlet.AlterarSenhaUsuario</servlet-class>
 </servlet> 
 <servlet>
  <display-name>GravarConta</display-name>
  <servlet-name>GravarConta</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarConta</servlet-class>
 </servlet>
 <servlet>
  <display-name>GravarFornecedor</display-name>
  <servlet-name>GravarFornecedor</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarFornecedor</servlet-class>
 </servlet>
 <servlet>
  <display-name>GravarGrupo</display-name>
  <servlet-name>GravarGrupo</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarGrupo</servlet-class>
 </servlet>
 <servlet>
  <display-name>GravarLancamento</display-name>
  <servlet-name>GravarLancamento</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarLancamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>GravarLogin</display-name>
  <servlet-name>GravarLogin</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarLogin</servlet-class>
 </servlet>
 <servlet>
  <display-name>GravarModalidade</display-name>
  <servlet-name>GravarModalidade</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarModalidade</servlet-class>
 </servlet>
 <servlet>
  <display-name>GravarOperacao</display-name>
  <servlet-name>GravarOperacao</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarOperacao</servlet-class>
 </servlet>
 <servlet>
  <display-name>GravarUsuario</display-name>
  <servlet-name>GravarUsuario</servlet-name>
  <servlet-class>br.com.etectupa.servlet.GravarUsuario</servlet-class>
 </servlet> 
 <servlet>
  <display-name>ExcluirConta</display-name>
  <servlet-name>ExcluirConta</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirConta</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExcluirFornecedor</display-name>
  <servlet-name>ExcluirFornecedor</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirFornecedor</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExcluirGrupo</display-name>
  <servlet-name>ExcluirGrupo</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirGrupo</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExcluirLancamento</display-name>
  <servlet-name>ExcluirLancamento</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirLancamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExcluirLogin</display-name>
  <servlet-name>ExcluirLogin</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirLogin</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExcluirModalidade</display-name>
  <servlet-name>ExcluirModalidade</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirModalidade</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExcluirOperacao</display-name>
  <servlet-name>ExcluirOperacao</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirOperacao</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExcluirUsuario</display-name>
  <servlet-name>ExcluirUsuario</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ExcluirUsuario</servlet-class>
 </servlet> 
 <servlet>
  <display-name>EditarConta</display-name>
  <servlet-name>EditarConta</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarConta</servlet-class>
 </servlet>
 <servlet>
  <display-name>EditarFornecedor</display-name>
  <servlet-name>EditarFornecedor</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarFornecedor</servlet-class>
 </servlet>
 <servlet>
  <display-name>EditarGrupo</display-name>
  <servlet-name>EditarGrupo</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarGrupo</servlet-class>
 </servlet>
 <servlet>
  <display-name>EditarLancamento</display-name>
  <servlet-name>EditarLancamento</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarLancamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>EditarLogin</display-name>
  <servlet-name>EditarLogin</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarLogin</servlet-class>
 </servlet>
 <servlet>
  <display-name>EditarModalidade</display-name>
  <servlet-name>EditarModalidade</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarModalidade</servlet-class>
 </servlet>
 <servlet>
  <display-name>EditarOperacao</display-name>
  <servlet-name>EditarOperacao</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarOperacao</servlet-class>
 </servlet> 
 <servlet>
  <display-name>EditarUsuario</display-name>
  <servlet-name>EditarUsuario</servlet-name>
  <servlet-class>br.com.etectupa.servlet.EditarUsuario</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConfirmarEditarConta</display-name>
  <servlet-name>ConfirmarEditarConta</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarConta</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConfirmarEditarFornecedor</display-name>
  <servlet-name>ConfirmarEditarFornecedor</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarFornecedor</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConfirmarEditarGrupo</display-name>
  <servlet-name>ConfirmarEditarGrupo</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarGrupo</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConfirmarEditarLancamento</display-name>
  <servlet-name>ConfirmarEditarLancamento</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarLancamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConfirmarEditarLogin</display-name>
  <servlet-name>ConfirmarEditarLogin</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarLogin</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConfirmarEditarModalidade</display-name>
  <servlet-name>ConfirmarEditarModalidade</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarModalidade</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConfirmarEditarOperacao</display-name>
  <servlet-name>ConfirmarEditarOperacao</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarOperacao</servlet-class>
 </servlet> 
 <servlet>
  <display-name>ConfirmarEditarUsuario</display-name>
  <servlet-name>ConfirmarEditarUsuario</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConfirmarEditarUsuario</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultaDadosConta</display-name>
  <servlet-name>ConsultaDadosConta</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConsultaDadosConta</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultaDadosLancamento</display-name>
  <servlet-name>ConsultaDadosLancamento</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConsultaDadosLancamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultaDadosGrupo</display-name>
  <servlet-name>ConsultaDadosGrupo</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConsultaDadosGrupo</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultaDadosFornecedor</display-name>
  <servlet-name>ConsultaDadosFornecedor</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConsultaDadosFornecedor</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultaDadosOperacao</display-name>
  <servlet-name>ConsultaDadosOperacao</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConsultaDadosOperacao</servlet-class>
 </servlet>
 <servlet>
  <display-name>ConsultaDadosModalidade</display-name>
  <servlet-name>ConsultaDadosModalidade</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ConsultaDadosModalidade</servlet-class>
 </servlet> 
 <servlet>
  <display-name>ListarLancamento</display-name>
  <servlet-name>ListarLancamento</servlet-name>
  <servlet-class>br.com.etectupa.servlet.ListarLancamento</servlet-class>
 </servlet>
 <servlet>
  <display-name>CadastroLancamento</display-name>
  <servlet-name>CadastroLancamento</servlet-name>
  <servlet-class>br.com.etectupa.servlet.CadastroLancamento</servlet-class>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>AutenticarLogin</servlet-name>
  <url-pattern>/AutenticarLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RecuperarSenha</servlet-name>
  <url-pattern>/RecuperarSenha</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AlterarSenhaUsuario</servlet-name>
  <url-pattern>/AlterarSenhaUsuario</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>GravarConta</servlet-name>
  <url-pattern>/GravarConta</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GravarFornecedor</servlet-name>
  <url-pattern>/GravarFornecedor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GravarGrupo</servlet-name>
  <url-pattern>/GravarGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GravarLancamento</servlet-name>
  <url-pattern>/GravarLancamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GravarLogin</servlet-name>
  <url-pattern>/GravarLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GravarModalidade</servlet-name>
  <url-pattern>/GravarModalidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GravarOperacao</servlet-name>
  <url-pattern>/GravarOperacao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GravarUsuario</servlet-name>
  <url-pattern>/GravarUsuario</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirConta</servlet-name>
  <url-pattern>/ExcluirConta</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirFornecedor</servlet-name>
  <url-pattern>/ExcluirFornecedor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirGrupo</servlet-name>
  <url-pattern>/ExcluirGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirLancamento</servlet-name>
  <url-pattern>/ExcluirLancamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirLogin</servlet-name>
  <url-pattern>/ExcluirLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirModalidade</servlet-name>
  <url-pattern>/ExcluirModalidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirOperacao</servlet-name>
  <url-pattern>/ExcluirOperacao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcluirUsuario</servlet-name>
  <url-pattern>/ExcluirUsuario</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarConta</servlet-name>
  <url-pattern>/EditarConta</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarFornecedor</servlet-name>
  <url-pattern>/EditarFornecedor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarGrupo</servlet-name>
  <url-pattern>/EditarGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarLancamento</servlet-name>
  <url-pattern>/EditarLancamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarLogin</servlet-name>
  <url-pattern>/EditarLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarModalidade</servlet-name>
  <url-pattern>/EditarModalidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarOperacao</servlet-name>
  <url-pattern>/EditarOperacao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditarUsuario</servlet-name>
  <url-pattern>/EditarUsuario</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarConta</servlet-name>
  <url-pattern>/ConfirmarEditarConta</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarFornecedor</servlet-name>
  <url-pattern>/ConfirmarEditarFornecedor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarGrupo</servlet-name>
  <url-pattern>/ConfirmarEditarGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarLancamento</servlet-name>
  <url-pattern>/ConfirmarEditarLancamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarLogin</servlet-name>
  <url-pattern>/ConfirmarEditarLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarModalidade</servlet-name>
  <url-pattern>/ConfirmarEditarModalidade</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarOperacao</servlet-name>
  <url-pattern>/ConfirmarEditarOperacao</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmarEditarUsuario</servlet-name>
  <url-pattern>/ConfirmarEditarUsuario</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ConsultaDadosConta</servlet-name>
  <url-pattern>/ConsultaDadosConta</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ConsultaDadosLancamento</servlet-name>
  <url-pattern>/ConsultaDadosLancamento</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ConsultaDadosGrupo</servlet-name>
  <url-pattern>/ConsultaDadosGrupo</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ConsultaDadosFornecedor</servlet-name>
  <url-pattern>/ConsultaDadosFornecedor</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ConsultaDadosOperacao</servlet-name>
  <url-pattern>/ConsultaDadosOperacao</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ConsultaDadosModalidade</servlet-name>
  <url-pattern>/ConsultaDadosModalidade</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ListarLancamento</servlet-name>
  <url-pattern>/ListarLancamento</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CadastroLancamento</servlet-name>
  <url-pattern>/CadastroLancamento</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>CewolfServlet</servlet-name>
    <servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
    <init-param>
        <param-name>storage</param-name>
        <param-value>de.laures.cewolf.storage.TransientSessionStorage</param-value>
    </init-param>
    <init-param>
        <param-name>overliburl</param-name>
        <param-value>overlib.js</param-value>
    </init-param>
    <init-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>CewolfServlet</servlet-name>
    <url-pattern>/cewolf/*</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 
</web-app>
